<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${header}
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <!-- Need to add login title to app.js -->
</head>
<body>
    <form action="/login" method="POST">
      <label>Username</label>
      <input type="text" name="username">
      <br>
      <label>Password</label>
      <input type="password" name="password">
      <br><br>
      <button type="submit">Submit</button>
    </form>
  </body>
  </html>