<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <style>
      p {
        color: white;
      }

      h4 {
        color: white;
      }

      input[type=range] {
        -webkit-appearance: none;
        background-color: firebrick;
        opacity: .85;
        width: 200px;
        height:20px;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color:goldenrod;
        width: 10px;
        height: 26px;
      }
      
    </style>
    ${header}
</head>
<body style="padding: 20px;">
    <h1>${oneRestaurant.name}</h1>
    <h4>${oneRestaurant.address}</h4>
    <p><strong>Food Category: </strong>${oneRestaurant.category}</p>
    <br>
    
    <h4><u style="color: firebrick;">Reviews: </u></h4>
    <div style="color: white;">
      ${review.map((review) => 
        `<strong>Name: </strong> ${review.name}<br>
        <strong>Title: </strong>${review.title}<br>
            <strong>Grade: </strong>${review.review}<br>
            <strong>Stars: </strong>${review.stars}<br> 
            `).join('<br>')}
            <!-- Can I make this into actual stars? -->
      <hr color="goldenrod">
    </div>
    <!-- Write a Review Feature:
    Post request to server?
    How do i write their info to the database?  -->
    <form action="/restaurant/submit_review" method="POST">
        <fieldset>
          <legend style="color: firebrick;">Write a Review:</legend>
          <input type="hidden" name="restaurant_id" value="${oneRestaurant.id}">
          <p>
            <label for="reviewerName">Name: </label>
            <input type="text" name="reviewerName" id="reviewerName"/>
          </p>
          <p>
            <label for="reviewerEmail">Email: </label>
            <input type="email" name="reviewerEmail" id="reviewerEmail"/>
          </p>
          <!-- We need a range for the stars. Maybe change to actual stars later -->
          <p>
            <label for="rating">Rating: </label>
            <input style="color: white;" type="range" name="rating" id="rating" list="tickmarks" min="1" max="5" step="1"/>
            <datalist id="tickmarks" >
                <option value="1" label="1 star"></option>
                <option value="2" label="2 stars"></option>
                <option value="3" label="3 stars"></option>
                <option value="4" label="4 stars"></option>
                <option value="5" label="5 stars"></option>
            </datalist>
          </p>
          <p>
            <label for="reviewTitle">Title of Review: </label>
            <input type="text" name="reviewTitle" id="reviewTitle"/>
          </p>
          <!-- We need a text area for the user to write their review -->
          <p>
            <label for="review"></label>
            <textarea name="review" id="review" rows="4" cols="33" placeholder="">Write your review here... 
            </textarea>
          </p>
        </fieldset>
        <input type="submit" class="btn btn-warning" id="submit" value="submit"/>
      </form>

      <!-- Add a link that goes back to the homepage IN THE FOOTER -->
      <hr>
      ${footer}
</body>
<script>
  $(document).ready(function(){ 
    $(form).on('submit', function(){ 
      location.reload();
    });
  })
</script>
</html>