<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${header}
</head>
<body>
    <h1>${oneRestaurant.name}</h1>
    <h4>${oneRestaurant.address}</h4>
    <p><strong>Food Category: </strong>${oneRestaurant.category}</p>
    <br>
    
    <h4><u>Review: </u></h4>
    <strong>Name: </strong> ${reviewer.name}<br>
    ${review.map((review) => 
        `<strong>Title: </strong>${review.title}<br>
        <strong>Grade: </strong>${review.review}<br>
        <strong>Stars: </strong>${review.stars}<br>
        `).join('')}
</body>
</html>